/* You can add global styles to this file, and also import other style files */

nz-page-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
